QSpinBox {
    border-radius: 4px;
	color: white;
    font-size: 20px;
	
}

/* background color when line edit is selected */

QSpinBox::up-button {
    width: 0px;
}

QSpinBox::up-arrow {
    image: url(:/images/up_arrow.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-button {
    width: 0px;
}
