QSlider::sub-page:Horizontal { 
	background-color: #3881d5; }
	

QSlider::add-page:Horizontal { 
	background-color: #333333; }

QSlider::groove:Horizontal { 
	background: transparent; 
	height:4px; }

QSlider::handle:Horizontal { 
	width:10px; 
	border-radius:5px; 
	background:#eeebeb; 
	margin: -5px 0px -5px 0px; }


QSlider { 
	background-color: rgba(0,0,0,0%); }
