QPushButton {
    background-color: rgb(28, 113, 216);
    color: white;
    border-radius: 10px;
    padding: 6px;
    min-width: 150px;
    min-height: 30px;
    font-size: 20px;
    font-weight: bold;

}

QPushButton:hover {
    background-color: rgb(60, 130, 240);
}

QPushButton:pressed {
    background-color: rgb(20, 100, 200);
    color: white;
    border-radius: 10px;
    padding: 6px;
    min-width: 300px;
    min-height: 50px;
    font-size: 20px;
    font-weight: bold;
}