QSpinBox {
    border-radius: 4px;
    background-color: rgba(31,29,30,255);
	color: white;
    font-size: 20px;
	
}

/* background color when line edit is selected */

QSpinBox::up-button {
    width: 0px;
}

QSpinBox::down-button {
    width: 0px;
}

