QComboBox {
    border-radius: 7px;
    color: gray;
    background-color: rgba(255,255,255,255);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 350px;

}
QComboBox::hover{

    background-color: rgba(240,240,240,255);
    border-radius: 5px;
}
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: rgba(151, 192, 225, 150);
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 30px;
    border-bottom-right-radius: 3px;
    border-radius: 5px;
}
QComboBox::down-arrow {
    image: url(cvplayer/icons/drop_down.png);
    height: 15px;
    width: 15px;
} 
QComboBox QAbstractItemView {
    border-radius: 5px;
    selection-color: rgba(66,148,247,255);
    selection-background-color: rgba(221,236,253,255);
    color: rgba(91,91,91,255);
    background-color: rgba(255,255,255,255);
    outline: 0px;
    font-size: 12pt;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
QListView::item {
    height:40px;
    outline: 0px;
}
QListView::item:selected {
    background-color: rgba(221,236,253,255);
    outline: 0px;
}
QScrollBar{
    width:0px;
}
    

